<div
  style="
    display: flex;
    justify-content: space-evenly;
    margin-left: 10vh;
    margin-top: 5vh;
  "
>
  <div style="font-size: 5vh; font-weight: 600; color: rgb(3, 3, 52)">
    eKart
  </div>
  <div style="display: flex; justify-content: space-evenly; width: 40vw">
    <p>Home</p>
    <p>Product</p>
    <p>Sale</p>
    <p>New Arrival</p>
    <p>Contact</p>
    <p>Services</p>
  </div>
</div>
<div style="display: flex; justify-content: center; margin-top: 10vh">
  <input
    type="text"
    placeholder="Enter an item"
    style="width: 50vh; height: 4vh; border-radius: 5px"
  />
  <button
    style="
      background-color: rgb(3, 3, 52);
      color: white;
      border-radius: 5px;
      border: none;
    "
  >
    Search
  </button>
</div>
<div style="display: flex; justify-content: space-around; margin-top: 10vh">
  <div
    style="
      box-shadow: 5px 5px 5px rgb(183, 172, 172);
      padding: 5vh;
      text-align: center;
    "
  >
    <img
      src="https://m.media-amazon.com/images/I/61JunDar+SL._AC_UL480_FMwebp_QL65_.jpg"
      alt=""
      style="height: 250px; width: 250px"
    />
    <h2>Nike</h2>
    <p style="color: grey;">Mens Atlantis Running</p>
  </div>
  <div
    style="
      box-shadow: 5px 5px 5px rgb(183, 172, 172);
      padding: 5vh;
      text-align: center;
    "
  >
    <img
      src="https://m.media-amazon.com/images/I/61utX8kBDlL._AC_UL480_FMwebp_QL65_.jpg"
      alt=""
      style="height: 250px; width: 250px"
    />
    <h2>Nike</h2>
    <p style="color: grey;">Mens Atlantis Running</p>
  </div>
  <div
    style="
      box-shadow: 5px 5px 5px rgb(183, 172, 172);
      padding: 5vh;
      text-align: center;
    "
  >
    <img
      src="https://m.media-amazon.com/images/I/71E2lIb3FfL._AC_UL480_FMwebp_QL65_.jpg"
      alt=""
      style="height: 250px; width: 250px"
    />
    <h2>Nike</h2>
    <p style="color: grey;">Mens Atlantis Running</p>
  </div>
</div>
